.home-title {
    font-size: 4rem;
    font-weight: 700;
    color:#ef515e;
    text-align: center;
    margin-top: 80px;
}

.i-heart {
    position: relative;
    display: inline-block;
}

.i-heart .heart {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:#ef515e;
    font-size: 1.4rem;
    display: block;
    line-height: 1;
    pointer-events: none;
}

.logo-at-top {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #ef515e;
    margin-top: 0px;
    margin-bottom: 10px;
}

.home-button {
    background-color: #adf2cc;
    color: white;
    font-size: 1.5rem;
    padding: 15px 40px;
    border: none;
    display: block;
    margin: 20px auto;
    text-decoration: none;
}

.home-button:hover {
    background-color: #5bf4a0;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    z-index: 1000;
    background-color: white;
    border-top: 1px solid #ccc;

}

.bottom-nav a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.bottom-nav a:hover {
    color:#5bf4a0;
}

.page-wrapper {
    margin-top: 0;
    padding-top: 0;
    background-color: #dabcf5;
    min-height: 100vh;
    padding: 10px 20px 140px;
}

.home-page .page-box {
    background: none;
    box-shadow: none;
    padding: 0;
    max-width: none;
}

.page-box {
    background: white;
    border-radius: 20px;
    padding: 30px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #dabcf5;
}