{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
<link rel="stylesheet" href="{% static 'accounts/form.css' %}">
{% endblock %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
<h1 class="base-title">Delete Account</h1>
<p class="base-subtitle">This action cannot be undone.</p>
<div class="form-wrapper">
    <form method="POST">
        {% csrf_token %}
        <div class="form-btn-wrapper">
            <button type="submit" class="base-btn delete-account-btn">Delete My Account</button>
            <a href="{% url 'profile' %}" class="base-btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}