{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
<link rel="stylesheet" href="{% static 'accounts/form.css' %}">
{% endblock %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<h1 class="base-title">Edit Profile</h1>
<p class="base-subtitle">Edit Your Profile Here</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-container">
            <div class="form-left">
                {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-btn-wrapper">
                    <button class="base-btn" type="submit">Save Changes</button>
                </div>
            </div>
            
            <div class="form-right">
                <div class="form-btn-wrapper">
                    <a href="{% url 'profile' %}" class="base-btn">Cancel</a>
                </div>
                <div class="form-btn-wrapper">
                    <a href="{% url 'delete_account' %}" class="base-btn delete-account-btn">Delete Account</a>
                </div>
            </div>
        </div>
</form>
{% endblock %}