{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="base-title">Login</h1>
<p class="base-subtitle">Log Into Your Account</p>
<div class="form-wrapper">
    <form method="POST" class="mt-3">
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control input">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control input">
        </div>
        <div class="form-btn-wrapper">
            <button type="submit" class="base-btn">Login</button>
        </div>
    </form>
</div>
{% endblock %}