{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
<link rel="stylesheet" href="{% static 'accounts/accounts-base.css' %}">

{% block title %}Your Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-left">
        <div class="profile-picture-wrapper">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <div class="no-photo-placeholder">?</div>
            {% endif %}
        </div>
        <h2 class="profile-name-age">
        {{ profile.display_name }}, {{ profile.age }}
        </h2>
        <p class="profile-location">{{ profile.location }}</p>
    </div>

    <div class="profile-right">
        <h3>Details</h3>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Gender:</strong> {{ profile.get_gender_display }}</p>
        <p><strong>Looking For:</strong> {{ profile.get_looking_for_display }}</p>
        <p><strong>Matching Preference:</strong> {{ profile.get_matching_preference_display }}</p>
        <h3 class="mt-4">Preferences</h3>
        <p><strong>Preffered Age Range:</strong> {{ profile.preferred_min_age }}-{{ profile.preferred_max_age }}</p>
        <p><strong>Preferred Gender:</strong> {{ profile.get_preferred_gender_display }}</p>
        <p><strong>Preferred Location:</strong> {{ profile.preferred_location }}</p>
    </div>

    <div class="profile-buttons">
        <a href="{% url 'edit_profile' %}" class="base-btn">Edit Profile</a>
        {% if spotify_connected %}
            <a href="#" class="base-btn">Spotify Stats</a>
        {% else %}
            <a href="#" class="base-btn">Connect Spotify</a>
        {% endif %}
        <a href="{% url 'delete_account' %}" class="base-btn delete-account-btn">Delete Account</a>
    </div>
</div>
{% endblock %}