/* Base Styling */
.base-title {
    font-size: 2rem;
    font-weight: 700;
    color: #8aa9f0;
    margin-bottom: 10px;
    text-align: center;
}

.base-subtitle {
    color: #6c757d;
    text-align: center;
    margin-bottom: 25px;
}

.base-btn {
    background-color: #5bf4a0;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.base-btn:hover {
    background-color: #39c176;
}

.delete-account-btn {
    background-color: #ef515e;
    color: white;
}

.delete-account-btn:hover {
    background-color: #eb2d3d;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.photo-item {
    position: relative;
}

.photo-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}