{% extends 'base.html' %}

{% block page_class %}home-page{% endblock %}
{% block logo_at_top %}{% endblock %}

{% block title %}Welcome to Intune{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="home-title">
            <span class="i-heart">i
                <span class="heart">❤︎</span>
            </span>nTune
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'find_match' %}" class ="home-button">Find your Duet - Match</a>
        {% else %}
            <a href="{% url 'register' %}" class ="home-button">Find your Duet - Register</a>
        {% endif %}
    </div>
{% endblock %}